<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="not-found content">Error 404</div>
    <a class="redirect" href="/"> Click Here </a>
  </body>
</html>
